[access]
	inheritFrom = Public-Projects
[project]
	description = Builder for buck-based plugins.
[access "refs/*"]
	owner = group plugin-builder-maintainers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group plugin-builder-maintainers
	label-Verified = -1..+1 group plugin-builder-maintainers
	submit = group plugin-builder-maintainers
